.editorContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.editors {
  margin: 1em;

  padding: 1em;
  padding-bottom: 3em;
  border-radius: 8px;
  background-color: rgb(252, 246, 222);
  border: #061020 10px;
}
.SynchroButton {
  margin: 1%;
  margin-bottom: 5%;
  font-size: larger;
}
div.DraftEditor-root {
  text-align: left;
  background-color: rgb(252, 246, 222);
  font-size: 100%;
  font-family: "Open Sans";
  height: 90%;
  width: 20em;
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}

.graphStyling {
  margin: 1em;
  background-color: rgb(252, 246, 222);
  padding: 1em;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  padding: 1%;
  height: 100vh;
  background-image: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);
}
